Binaryproject/bin/Debug/exeprojectr.exe
Binaryproject/bin/Debug/exeprojectr.exe.config
Binaryproject/bin/Debug/exeprojectr.pdb
Binaryproject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Binaryproject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Binaryproject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Binaryproject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Binaryproject/obj/Debug/exeprojectr.csproj.CoreCompileInputs.cache
Binaryproject/obj/Debug/exeprojectr.csproj.FileListAbsolute.txt
Binaryproject/obj/Debug/exeprojectr.csprojAssemblyReference.cache
Binaryproject/obj/Debug/exeprojectr.exe
Binaryproject/obj/Debug/exeprojectr.pdb
